@import 'react-big-calendar/lib/sass/styles';
@import 'react-big-calendar/lib/addons/dragAndDrop/styles'; // if using DnD

.task {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  
  &-list {
    display: flex;
    width: 100%;
    gap: 20px;
    background-color: #fff;
  }

  &s-going,
  &s-done,
  &s-todo {
    padding: 15px;
    width: 100%;
  }

  &-going {
    background-color: #81d4fa;
    color: #000;
  }
  &-done {
    background-color: #80cbc4;
    color: #000;
  }
  &-todo {
    background-color: #ef9a9a;
    color: #000;
  }
}
.rbc-calendar {
  min-height: 600px; /* Hoặc chiều cao phù hợp với trang web của bạn */
}

.myCustomHeight {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}