.card-icon-num {
  font-size: 40px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0;
}

.card-icon-year {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.725);
}

.card-total {
    background: linear-gradient(45deg, rgba(109, 128, 254, 1) 0%, rgba(35, 210, 253, 1) 100%);
    box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}
.card-finish{
  background: linear-gradient(45deg, rgba(9, 175, 232, 0.8) 0%, rgba(41, 244, 153, 1) 100%);
  box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}
.card-ongoing{
  background: linear-gradient(45deg, rgba(41, 244, 153, 1) 0%, rgb(178, 231, 19) 100%);
  box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}
.card-unstarted{
  background: linear-gradient(45deg, rgba(255, 153, 139, 1) 0%, rgba(255, 109, 136, 1) 100%);
  box-shadow: 0 5px 20px rgba(41, 244, 153, 0.3);
}
  