doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Upload Excel
  body
    h2 Upload Excel File
    form(action="http://localhost:3001/upload/65a125b88fc18cc0c34a6c89", method="post", enctype="multipart/form-data")
      input(type="file", name="excelFile")
      input(type="hidden", name="eventId", value="65a125b88fc18cc0c34a6c89")
      input(type="submit", value="Upload")
